

/* hero-section */

@media (max-width: 567px) {
    /* Основная секция hero */
    .hero {
        min-height: 150px; /* Уменьшаем общую высоту */
    }

    /* Верхний жёлтый блок */
    .hero-yellow {
        height: 470px !important; /* Уменьшаем высоту */
    }

    /* Нижний зелёный блок */
    .hero-green {
       height: 136px !important; /* Уменьшаем высоту */
    }

    /* Текстовые элементы */
    .hero-text {
        top: 40%; /* Сдвигаем текст вверх */
        padding: 0 1rem; /* Добавляем отступы */
    }

    .hero-text h1 {
        font-size: 5rem; /* Уменьшаем размер заголовка */
       margin-top:-63% !important;
        text-shadow: -1px -1px 0 white, /* Тень сверху слева */
        1px -1px 0 white, /* Тень сверху справа */
        -1px 1px 0 white, /* Тень снизу слева */
        1px 1px 0 white; /* Тень снизу справа */
    }

    .hero-text h2 {
        display: none;
    }

    .hero-text h3 {
        display: flex !important;
        font-size: 1rem; /* Уменьшаем текст скидки */
        margin-top: 75% !important;
        margin-right: 23% !important;
        font-weight: bold;
        white-space: nowrap;
        text-shadow: -1px -1px 0 white, /* Тень сверху слева */ 1px -1px 0 white, /* Тень сверху справа */ -1px 1px 0 white, /* Тень снизу слева */ 1px 1px 0 white; /* Тень снизу справа */
    }

    /* Изображения */
    .hero-images {
        bottom: 1%;
        width: 100%; /* Растягиваем контейнер для изображений */
        justify-content: center; /* Центрируем изображения */
        gap: 6%; /* Уменьшаем расстояние между изображениями */
    }

    .hero-image {
        max-width: 22% !important; /* Увеличиваем ширину изображений */
        height: auto;
    }


    /* Собака */
    .hero-dog-wrapper {
        right: -6.9rem !important; /* Сдвигаем ближе */
        top: 0;
        margin-top: 16% !important;
        box-shadow: none; /* Тень вокруг круга */
        width: 430px !important; /* Уменьшаем размер круга */
        height: 430px !important; /* Уменьшаем размер круга */

    }

    .hero-dog-mask {
        clip-path: circle(70% at 50% 50%) !important; /* Уменьшаем круг маски */
    }

    /* Кот */
    .hero-cat-wrapper {
        display: none;
    }

    /* Подзаголовок */
    .logo-subtitle {
        font-size: 0.8rem; /* Уменьшаем шрифт */
        margin-top: 0.5rem;
    }

    /* Текст скидки */
    .discount {
        font-size: 0.7rem;
    }

    /* Прочие элементы */
    .hero-cat-shower-wrapper {
        max-width: 24% !important; /* Увеличиваем ширину изображений */
        height: auto;
        margin-bottom: 12% !important;
        display: none;
    }

    .hero-cat-mask,
    .hero-dog-mask {
        clip-path: circle(35% at 50% 50%); /* Уменьшаем круг маски */
    }


    .mobile-links {
        justify-content: center; /* Центрируем содержимое по горизонтали */
        text-align: center; /* Центрируем текст */
        width: 100%; /* Растягиваем контейнер на всю ширину */
    }

    /* Центрируем WhatsApp и ссылки в одном ряду */
    .social-icons {
        margin-right: auto; /* Прижимаем WhatsApp к левому краю */
    }

    .d-flex.align-items-center.justify-content-between {
        justify-content: center !important; /* Центрируем весь контейнер */
    }


    .image-mobile-wrapper {
        position: absolute; /* Для позиционирования внутренних элементов */
        width: 160px; /* Фиксированная ширина в пикселях */
        height: 160px; /* Высота равна ширине для сохранения пропорций */
        border-radius: 50%; /* Делаем круг */
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.9); /* Тень вокруг круга */
        overflow: hidden; /* Скрываем части изображения за пределами круга */
        display: flex;
        align-items: center; /* Центрируем содержимое */
        justify-content: center;
        top: 14%;
        z-index: 1; /* Уровень слоя */


    }

    /* Изображение внутри */
    .image-mobile-wrapper img {
        width: 95%; /* Изображение растягивается по кругу */
        height: 100%; /* Заполняет круг полностью */
        object-fit: cover; /* Адаптация изображения внутри круга */
        border-radius: 50%; /* Повторяем круг, чтобы избежать артефактов */
    }


}
/* hero-section-end */

/* about-us-mobile section */




@media (max-width: 568px) {
    .about-us  {
        display: none;

    }
@media (max-width: 568px) {
    /* Секция */


    #about-us-mobile{
        display: block;
    }

    .about-us-mobile {
        display: block; /* Гарантируем, что секция ведёт себя как блочный элемент */
        width: 100%; /* Растягиваем на всю ширину экрана */
        padding: 1rem; /* Добавляем отступы по бокам */
        background: linear-gradient(to bottom, #114F3C, #c6b58a); /* Фон секции */
        box-sizing: border-box; /* Учитываем отступы в ширине */
    }

    /* Контейнер для изображения */
    .about-img-container-mobile {
        width: 100%; /* Растягиваем контейнер на всю ширину */
        display: flex;
        justify-content: center; /* Центрируем изображение */
        margin-bottom: 2rem; /* Отступ снизу */
    }

    /* Изображение */
    .about-img-mobile {
        width: 80%; /* Задаём ширину изображения относительно контейнера */
        height: auto; /* Сохраняем пропорции */
        border-radius: 8px; /* Скругляем углы */
    }

    /* Контейнер для текста */
    .about-text-container-mobile {
        width: 100%; /* Растягиваем контейнер на всю ширину */
        text-align: justify; /* Выравниваем текст по ширине */
    }

    /* Заголовок */
    .about-title-mobile {
        font-size: 1.8rem; /* Размер заголовка */
        font-weight: 700; /* Жирный шрифт */
        color: #fff; /* Цвет текста */
        text-align: center; /* Центрируем заголовок */
        margin-bottom: 1rem; /* Отступ снизу */
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Тень */
    }

    /* Абзацы текста */
    .about-text-mobile {
        font-size: 1rem; /* Размер текста */
        line-height: 1.2; /* Межстрочный интервал */
        color: #eee; /* Цвет текста */
        margin-bottom: 1rem; /* Отступ между абзацами */
    }

    /* Подзаголовок */
    .about-subtitle-mobile {
        font-size: 1.2rem; /* Размер подзаголовка */
        font-weight: 700; /* Жирный шрифт */
        color: #000; /* Цвет текста */
        text-align: center; /* Центрируем текст */
        margin-top: 2rem; /* Отступ сверху */
        text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.9);
    }

    .nav-link.desktop{
        display: none;
    }

    .nav-link.mobile{
        display: block;
    }




}


    /* about-us-mobile section end */




@media only screen and (min-width : 992px) {
    .header-bottom .navbar .dropdown-menu-end {
        margin-left: 0;
        border: 0;
    }

    .header-bottom .navbar .nav-link {
        padding: 0.5rem;
    }
}

@media only screen and (max-width : 992px) {
    .header-bottom .navbar .dropdown-menu {
        padding-left: 1rem;
    }
}

@media (min-width: 992px) {
    .navbar-nav {
        /* Когда открыто в обычном виде, а не в оффканвасе */
        display: flex;
        flex: 1 1 auto;
        justify-content: space-evenly; /* space-around или space-between */
    }
    .navbar-nav .nav-item {
        flex: 0 0 auto; /* или 1 1 auto, если хочешь равномерное распределение */
        text-align: center;
    }
}








@media (max-width: 1024px) {
    /* Перемещаем текст в верхнюю часть и в одну строчку */
    .banner-text {
        top: 5%; /* Сдвигаем текст вверх */
        right: 5%; /* Немного правее */
        font-size: 3rem; /* Уменьшаем размер текста */
        text-align: left; /* Текст в одну строчку */
    }



    /* Уменьшаем размер сердечка */
    .heart-svg {
        width: 70%; /* Уменьшаем размер сердечка на планшетах */
    }

    /* Изменяем размер кнопок и их положение внутри сердечка */
}

@media (max-width: 480px) {
    /* Перемещаем текст еще выше и уменьшаем его размер */
    .banner-text {
        top: 5%; /* Сдвигаем текст вверх */
      left: 10%;
        font-size: 1rem; /* Уменьшаем размер текста */
        white-space: nowrap;
    }

    /* Изменяем позицию сердечка */
    .heart-container {
        top: 25%; /* Сдвигаем сердечко вверх */
        left: 24%; /* Центрируем сердечко */
        width: 30%;
        transform: translateX(-50%); /* Центрируем по горизонтали */
    }
    /* Уменьшаем размер кнопок и их положение */
    .banner-btn {
        display: block; /* Делаем кнопки видимыми */
        font-size: 8px; /* Уменьшаем размер текста в кнопках */
        width: 70%; /* Сужаем ширину кнопок */
        padding: 0.3rem 0.5rem; /* Уменьшаем внутренние отступы */
        border-radius: 15px; /* Более округлые углы */
        position: relative; /* Для размещения внутри сердечка */
        margin: 0.2rem auto; /* Отступы между кнопками */
    }
    .location-btn{
        position: absolute;
        top: 35%; /* Центрируем в верхней части сердечка */
        left: 50%;
        width: 60%;
        transform: translate(-50%, -70%);

    }

    .discount-btn{
        position: absolute;
        top: 60%; /* Сдвигаем вниз внутри сердечка */
        left: 50%;
        width: 40%;
        transform: translate(-50%, -50%); /* Центрируем горизонтально */

    }
}
@media (max-width: 1200px) {
    .custom-col-7 {
        flex: 0 0 16.66%; /* 6 колонок */
        max-width: 16.66%;
    }
}

@media (max-width: 992px) {
    .custom-col-7 {
        flex: 0 0 20%; /* 5 колонок */
        max-width: 20%;
    }
}

@media (max-width: 768px) {
    .custom-col-7 {
        flex: 0 0 25%; /* 4 колонок */
        max-width: 25%;
    }
}

@media (max-width: 576px) {
    .custom-col-7 {
        flex: 0 0 13%; /* 3 колонок */
        max-width: 13%;
    }
    .product-section .row{
        /*padding-top: 0 !important;*/
        /*--bs-gutter-x: 0 !important; !* Убираем горизонтальные отступы между колонками *!*/
        /*--bs-gutter-y: 0 !important; !* Убираем вертикальные отступы между строками *!*/
        /*gap: 0.364rem; !* Полностью убираем gap *!*/
    }
    .category-panel{
        --bs-gutter-x: 0 !important;
        --bs-gutter-y: 0 !important;

    }
    .product-section h2 {
        margin-bottom: 0 !important; /* Уменьшаем расстояние под заголовком */
        margin-top: 0 !important;
        --bs-gutter-y: 0 !important;
        gap: 0 !important;
        font-size: 1.2rem; /* Немного уменьшаем размер текста заголовка */
    }
    .card-title{
        font-size: 0.45rem!important;
    }
}
@media (max-width: 576px) {
    .btn-row {
        display: none; /* Скрываем все кнопки по умолчанию */
    }

    .btn-row.active {
        display: flex; /* Показываем только активные кнопки */
        flex-wrap: nowrap; /* Не переносим кнопки */
        overflow-x: auto; /* Горизонтальный скролл, если кнопки не помещаются */
        gap: 0.5rem; /* Добавляем расстояние между кнопками */
        position: relative;
        z-index: 10;
        margin-top: -30px;
    }

    .btn-row .col {
        flex: 0 0 auto; /* Отключаем авторастяжение колонок */
        width: auto; /* Ширина кнопок зависит от содержимого */
    }

    .btn-row .btn-sm {
        flex-shrink: 0; /* Не позволяем кнопкам сжиматься */
        white-space: nowrap; /* Запрещаем перенос текста */
        font-size: 0.6rem; /* Ещё немного уменьшаем размер текста */
        padding: 0.2rem 0.4rem; /* Уменьшаем внутренние отступы */
    }

    .category-panel {
        margin-bottom: 1rem; /* Отступ для категории, чтобы кнопки не наслаивались */
    }

    .category-link {
        text-align: center; /* Центрируем категории */
    }
}

@media (max-width: 576px) {
    .product-cards .card {
        margin-bottom: 1rem; /* Увеличиваем отступы между карточками */
    }

    .product-image {
        max-height: 120px; /* Уменьшаем высоту изображений на маленьких экранах */
    }

    .card-title, .card-text {
        font-size: 0.8rem; /* Уменьшаем текст */
    }
}

@media (max-width: 767.98px) {
    .product-cards {
        display: none; /* Скрываем стандартные карточки */
    }
}
@media (max-width: 576px) {
    .faq-desktop {
        display: none;
    }
}

@media (max-width: 430px) {
    .faq-mobile {
        display: block; /* Отображать от 430px и выше */
    }
}

@media (max-width: 768px) {
    /* Баннер */
    .cat-banner {
        height: 11rem; /* Уменьшаем высоту баннера */
    }

    /* Текст в баннере */
    .banner-text-cat {
        display: none;
    }
    /* Сердечко */
    .heart-container-cat {
        bottom: -10%; /* Расположение ближе к нижней части баннера */
        left: 30%; /* Центрируем сердечко */
        transform: translateX(-50%);
        width: 12rem; /* Уменьшаем размер сердечка */
    }

    .heart-svg-cat {
        width: 80%; /* Сердечко заполняет контейнер */
        filter: brightness(0) invert(1);

    }

    .round-btn-img {
        width: 2.3rem; /* Размер круга */
        height: 2.3rem;
        border-radius: 50%; /* Делаем круглым */
        top: 6%;
        left: 14%;
        position: absolute;
        cursor: pointer; /* Указываем, что это кликабельно */
        object-fit: cover; /* Сохраняем пропорции изображения */
    }

    /* Мобильное сердечко (если включено) */
    .heart-container-cat-mobile {
        display: block; /* Показываем мобильное сердечко */
        top: 60%;
        left: 26%;
        position: absolute;
        transform: translate(-50%, -50%);
        width: 12%; /* Уменьшаем мобильное сердечко */
    }

    .heart-svg-cat-mobile {
        width: 100%; /* Мобильное сердечко заполняет контейнер */
        height: auto;
    }
    .highlighted-text{
        color: #000;
    }

    .text-inside-heart {
        white-space: nowrap;
        position: absolute;
        text-align: center;
        bottom: 70% !important; /* Смещаем текст вниз внутри сердечка */
        left: -160% !important;
        z-index: 2; /* Убедимся, что текст выше сердечка */
        color: #EF7070;
        font-size: 1.1rem;
        font-weight: bold;
        letter-spacing: 2px;

    }
    /* Изображение баннера */
    .banner-image-cat {
        object-fit: cover; /* Сохраняем пропорции */
        object-position: center; /* Центрируем изображение */
    }
}


@media (max-width: 768px) {
    .content {
        flex-direction: column; /* Слайдер сверху, карта снизу */
        align-items: center;
        gap: 2rem;
        padding: 0 1rem; /* Добавляем отступы по бокам */
    }

    .slider-container,
    .map-container {
        max-width: 100%;
        height: auto; /* Высота подстраивается под содержимое */
    }

    .slider-container {
        height: 250px; /* Уменьшенная высота для мобильных */
    }

    .map-container {
        width: 100%; /* Карта занимает всю ширину */
        padding: 0 1rem; /* Отступы по бокам */
    }

    .map-container iframe {
        height: 200px; /* Уменьшенная высота для мобильных */
        width: 100%; /* Подстройка под ширину */
        border-radius: 10px; /* Сглаженные края карты */
    }

    .button-container {
        justify-content: center;
        gap: 1rem; /* Расстояние между кнопками */
    }
}

@media (max-width: 768px) {

    .map-selector {
        width: 100%; /* Карта будет растягиваться на всю ширину */
        display: flex;
        justify-content: center; /* Центрируем содержимое */
        margin: 0 auto; /* Центрирование с учетом внешних отступов */
        padding: 0 1rem; /* Добавляем отступы по бокам */
    }

    .map-selector iframe {
        height: 250px; /* Уменьшенная высота карты на мобильных */
    }

}
}

@media only screen and (max-width : 500px) {
    .product-content-details .nav-tabs .nav-link{
        padding-left: 8px;
        padding-right: 8px;
    }
}

